# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Editor and IDE settings
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment files
.env
.specstory/**